*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
html{
      scroll-behavior: smooth;
}
/*nav section*/
.navbar{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      position: sticky;
      top: 0;
}
.navbar ul{

      display: flex;
      list-style: none;
      margin: 20px 0px;
}
.navbar ul li{
      font-family: century;
      font-size: 1.1rem;
      font-weight: bold;
}
.navbar ul li a{
      text-decoration: none;
      color: white;
      padding: 8px 25px;
      transition: all .5s ease;
}
.navbar ul li a:hover{
      background-color: white;
      color: black;
      box-shadow: 0 0 10px white;
}
/*home section */
#home{
      display: flex;
      flex-direction: column;
     
      height:530px;
      justify-content: center;
      align-items: center;
      color: rgb(0, 0, 0);
}
#home::before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background: url('asset/labw.jpg') no-repeat center center/cover;
      height: 997px;
      width: 100%;
      z-index: -1;
      opacity: .8;
      
}
.main{
      display: flex;
      flex-direction: column;
      /*border: 1px solid wheat;*/
      align-items: center;
      position: absolute;
      top: 30%;
      left: 15%;

}
.headings{
      font-family: century;
      font-size: 3rem ;
      text-align: center;
      margin: 40px 0px;
}
/*about me section*/
#about{
    
      flex-direction: column;
      box-sizing: border-box;
      background-color: rgb(6, 19, 26);
      
      margin-bottom: 70px;
      color: rgb(255, 255, 255);
    
      display: grid;
      
    
     height: 100%;
     box-shadow: 5px 5px 10px black;
     border-radius: 15px;
     color: rgb(255, 255, 255);
     padding: 40px 40px;
     
    
}
#pic{
      display: flex;
}
#pic img{
      width: 575px;
      height: 400px;
}
#intro{
      display: flex;
      flex-direction: column;
      text-align: justify;
      padding: 10px;
      color: white;


}
#intro h2{
      font-size: 2rem;
      margin-bottom: 20px;
      
}
/*project section*/
#project{
      display: flex;
      flex-direction: column;
      padding: 40px;
      background-color: rgb(46, 24, 24);
      margin-bottom: 20px;
}
.row{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin: 20px 0px;
     
}
.box{
      display: flex;
      flex-direction: column;
      width: 310px;
      height: 450px;
      background-color: rgb(170, 184, 224);
      border-radius: 15px;
      border: 1px solid rgb(0, 0, 0);
      margin: 20px;
      align-items: center;
      padding: 10px;
      justify-content: center;
      box-shadow: 2px 12px 30px rgba(0, 0, 0, 0.08);
}
.box img{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      object-fit: cover;
}

.box p{
      color: rgb(0, 0, 0);
      font-size: 1rem;
      margin: 0px;
      text-align: center;
      display: block;
      max-width: 80%;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
}
.box a{
      width: 190px;
      height: 44px;
     margin-top: 10px;
      border-radius: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      background-color: rgb(7, 34, 43);
      border-radius: 20px;
      box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.08);
      text-decoration: none;

}
.box a:hover{
      background-color: rgb(255, 255, 255);
      transition: all ease 0.2s;
}
.box:hover{
      transform: translateY(-10px);
      box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
      transition: all ease 0.2s;
}
/*skills section*/
#skills{
      display: flex;
      flex-direction: column;
      row-gap: 0;
      padding: 90px;
      background-color: rgb(61, 61, 61);
      margin-bottom: 50px;
 
}
.section_sub{
      font-family: century;
      font-size: 3rem ;
      padding: 25px;
      
}
.skills_container{
      row-gap: 0;
      display: grid;
      align-items: center;
     cursor: pointer;
     height: 100%;
     box-shadow: 5px 5px 10px black;
     border-radius: 10px;
     color: rgb(0, 0, 0);
     padding: 40px 40px;
     background-color: rgb(197, 213, 221);
    

}
.skills_name{
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--mb-0-5);
}
.skills_bar,.skills_percentage{
      height: 10px;
      border-radius: .25rem;

}

.skills_percentage{
      display: block;
     
}

.skills_bar1{
     width: 90%;
      background-color: rgb(24, 18, 14);
      height: 10px;
      border-radius: .25rem;

}
.skills_bar2{
      width: 70%;
       background-color: rgb(24, 18, 14);
       height: 10px;
       border-radius: .25rem;
 
 }
 .skills_bar3{
      width: 50%;
       background-color: rgb(24, 18, 14);
       height: 10px;
       border-radius: .25rem;
 }
 .skills_bar4{
      width: 60%;
       background-color: rgb(24, 18, 14);
       height: 10px;
       border-radius: .25rem;
      
 }
 .skills_bar5{
      width: 87%;
       background-color: rgb(24, 18, 14);
       height: 10px;
       border-radius: .25rem;
 }
 .skills_bar6{
      width: 68%;
       background-color: rgb(24, 18, 14);
       height: 10px;
       border-radius: .25rem;
 }
 .skills_bar7{
      width: 100%;
       background-color: rgb(24, 18, 14);
       height: 10px;
       border-radius: .25rem;
 }
 
 /*contact section*/
#contact{
      display: flex;
      flex-direction: column;
       width: 100%;
      height: 90vh;
       background-color: rgb(170, 136, 112);
       justify-content: center;
       align-items: center;
       
}
#contact form{
      display: flex;
      width: 70%;
      height: 60vh;
      background-color: rgb(32, 8, 8);
      box-shadow: 2px 12px 20px rgb(8, 1, 1);
      border: 1px solid rgba(0, 0, 0, 0.5);
}
.contact-left{
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.contact-right{
      width: 60%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1px solid rgba(255, 255, 255, 0.08);

}
.c-l-heading{
      font-family: century;
      color: white;
      font-size: 3rem;
      letter-spacing: 2px;
      font-weight: 400;
}
.email,.name{
      display: flex;
      flex-direction: column;
      color: rgb(255, 255, 255);
      font-family: century;
      font-size: 22px;
      
}
.email input,.name input{
    height: 30px;
    width: 250px;
      
}
.contact-right,.button{
      text-align: center;
      padding-top: 50px;
      color: rgb(255, 255, 255);
      font-family: century;
      font-size: 22px;
      
}

.button{
     
    
     background-color: rgb(99, 89, 87);
      text-align: center;
      font-weight: bold;
      color: rgb(0, 0, 0);
      font-size: 20px;
      padding-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 20px;
      letter-spacing: 2px;
      
     

      
}    